.waves-effect {
  padding: 1rem 0;
  background: none;
  width: 100%;
  border: none;
}
.sidenav-trigger {
  margin: 1rem;
}

.waves-effect:hover {
  background: #ddd;
}

.hidden {
  display: none !important;
}